<div ng-controller="IdeaSearchController as search">
<div class="page-title wrap grid">
  <h1 class="flex-item one-half">All Posts</h1>
  <form action="" id="post-search" class="post-search flex-item one-half">
    <input class="search-field" type="text" placeholder="Search by author or idea name" required ng-model="search.term">
    <button class="search-button" type="submit" data-tooltip="Search"><span class="visually-hidden">Search</span><svg class="icon icon-search" role="img"><use xlink:href="#icon-search"></use></svg><svg class="icon icon-x" role="img"><use xlink:href="#icon-x"></use></svg></button>
  </form>
</div>

<ul class="posts-list">
  <div class="post-list-labels wrap">        
    <div class="grid">
      <h2 class="flex-item one-third">Author</h2>
      <h2 class="flex-item one-third">Idea Name</h2>
      <h2 class="actions flex-item one-third">Actions</h2>
    </div>
  </div>
  <% _.each(ideas, function(idea) { %>
    <li class="post" ng-controller="IdeaListController" ng-class="{'active': isEditing}" ng-hide="!idea.idea_name.toLowerCase().match(search.term) && !idea.full_name.toLowerCase().match(search.term)">
      <article>
        <div class="wrap">
          <div class="post-info grid">
            <div class="post-author flex-item one-third">
              <h2>{{ idea.full_name }}</h2>
            </div>
            <div class="post-name flex-item one-third">
              <h2>{{ idea.idea_name }}</h2>
            </div>
            <div class="actions flex-item one-third">
              <a ng-click="togglePublished()" ng-class="{'active': idea.published}" class="publish" data-tooltip="{{ getPublishedVerb() }}"><span class="visually-hidden">Publish</span><svg class="icon icon-star" role="img"><use xlink:href="#icon-star"></use></svg></a>
              <button ng-click="toggleEditing()" class="edit-post post-toggle" data-tooltip="Edit"><span class="visually-hidden">Edit</span><svg class="icon icon-edit" role="img"><use xlink:href="#icon-edit"></use></svg></button>
            </div>
          </div>
        </div>
        <div class="wrap post-edit">
          <header class="post-header grid">
            <h1 class="flex-item">Editing: {{ idea.idea_name }}</h1>
            <button ng-click="toggleEditing()" class="post-close post-toggle flex-item" data-tooltip="Close"><span class="visually-hidden">close</span><svg class="icon icon-x" role="img"><use xlink:href="#icon-x"></use></svg></button>
          </header>
          <%- partial ('form.ejs', {idea: idea}) %> 
        </div>
      </article>
    </li>

  <% }) %>
</ul>
</div>