<main id="monitor" ng-controller="MonitorController" ng-class="{'no-photo': monitor.idea.no_photo }" ng-cloak ng-init="monitor=<%= JSON.stringify(monitor) %>">
  <img src="{{ monitor.idea.photo_url }}" alt="">
  <h3>{{ monitor.idea.idea_name }}</h3>
  <h1>{{ monitor.idea.idea_content }}</h1>
  <p>{{ monitor.idea.full_name }}</p>
  <p>{{ monitor.idea.twitter }}</p>
  <p>{{ monitor.idea.organization }}</p>
</main>
