// Monitor View Base Styles

// Custom color based on body data-color attribute
$colors: $purple, $orange, $green, $blue;
@for $i from 1 through 4 {
  .monitor-view[data-color='#{$i}'] { 
    @include colorScheme(nth($colors, $i)); 
  }
}

// monitor transition state
.monitor-view.transitioning {
  .site-main {
    opacity: 0;
  }
  .post .post-image img {
    opacity: 0;
  }
}

.monitor-view {
  height: 100%;
  color: $white;
  @include transition(background);

  h1 {
    margin: 0;
    font-size: 36px;
    line-height: 1em;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    &::before {
      top: 11px;
      content: '';
      width: 17px;
      left: -60px;
      height: 17px;
      position: absolute;
      transform: rotate(45deg);
      border: 5px solid $white;
    }
  }

  .site-main {
    opacity: 1;
    height: 100%;
    overflow: hidden;
    transition-delay: 1s;
    transition: opacity 1.5s ease-out;
  }

  .wrap {
    height: 100%;
    margin: 0 auto;
    position: relative;
    @include clearfix();
    @include min-screen($bpMd) {
      // set breakpoints on a per-module basis when possible
    }
  }

  .post {
    height: 100%;
    .post-content {
      position: relative;
      flex-basis: 14*$column;
      @include transition(background);
      padding: 100px 130px 100px ($column*5);
      &::before {
        right: 0;
        bottom: 0;
        z-index: 1;
        content: '';
        height: 35%;
        position: absolute;
        border-right: 30px solid #fff;
        border-top: 30px solid transparent;
      }
      &::after {
        top: 0;
        right: 0;
        z-index: 1;
        content: '';
        height: 65%;
        position: absolute;
        border-right: 30px solid #fff;
        border-bottom: 30px solid transparent;
      }
      .right-border {
        top: 0;
        bottom: 0;
        width: 4px;
        right: -4px;
        background: $white;
        position: absolute;
      }

      &.has-been-liked {
        .blur {
          -webkit-filter: blur(20px);
        }
      }
      .blur {
        -webkit-filter: blur(0);
        transition: -webkit-filter 1s ease-out;
      }

      .post-content-wrap {
        z-index: 1;
        position: relative;
      }

      .idea-title {
        h1 {
          margin: 0;
        }
      }
      .idea {
        padding: 0;
        margin: 62px 0;
        font-kerning: normal;
        p {
          margin: 0;
          font-size:  88px;
          font-weight: bold;
          word-spacing: -.06em;
          line-height: .9375em;
        }
      }
      .post-meta {
        p {
          margin: 0;
          font-size: 36px;
          line-height: 1.166666667em;
        }
      }
    }

    .post-image {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: white;
      position: absolute;
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: '';
        position: absolute;
        transition: opacity 1s ease-out, background 1s ease-out;
      }
      &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        content: '';
        position: absolute;
        mix-blend-mode: color;
        @include transition(background);
      }

      img {
        opacity: 1;
        width: auto;
        height: 100%;
        max-width: none;
        vertical-align: top;
        mix-blend-mode: hard-light;
        transform: translateX(-48%);
        transition: opacity 3s ease-out;
        -webkit-filter: grayscale(100%) brightness(80%);
      }
    }

    .post-aside {
      z-index: 2;
      display: flex;
      position: relative;
      align-items: flex-end;
      flex-basis: 4*$column;
      padding: 100px 100px 316px 100px;
      &::before {
        left: -26px;
        bottom: 0;
        content: '';
        height: 35%;
        position: absolute;
        margin-bottom: -1px;
        @include transition(border-color);
        border-top: 30px solid transparent;
      }
      &::after {
        top: 0;
        left: -26px;
        content: '';
        height: 65%;
        margin-top: -1px;
        position: absolute;
        @include transition(border-color);
        border-bottom: 30px solid transparent;
      }

      .likes {
        left: 0;
        right: 0;
        margin: 0;
        bottom: 100px;
        position: absolute;
        p {
          color: inherit;
          font-size: 36px;
          font-weight: 200;
          text-align: center;
        }
        .icon-heart {
          width: 27px;
          height: 24px;
        }
      }

      .like-this-view {
        width: 100%;
        color: $white;
        .like-this-action {
          p {
            margin: 0;
            font-size: 96px;
            font-weight: 200;
            line-height: 1em;
            text-align: center;
          }
        }
        .like-this {
          width: 132px;
          height: 132px;
          display: flex;
          background: none;
          border-radius: 50%;
          margin: $padding auto 0;
          border: 5px solid $white;
          &:focus {
            outline: none;
          }
          .icon {
            width: 54px;
            margin: auto;
            height: 48px;
            fill: $white;
          }
        }
        .likes {
          .icon-heart {
            fill: $white;
          }
        }
      }

      .target-areas {
        margin: 0;
        padding: 0;
        top: -40px;
        flex-wrap: wrap;
        position: relative;
        .target-area {
          opacity: .35;
          list-style: none;
          text-align: center;
          margin-bottom: 20px;
          @include transition(opacity);
          &.active {
            opacity: 1;
          }
          h4 {
            font-size: 15px;
            font-weight: 200;
            text-align: center;
            position: relative;
            display: inline-block;
            &::after {
              left: 0;
              width: 100%;
              content: '';
              height: 2px;
              bottom: -4px;
              position: absolute;
              background: rgba($white,.5);
            }
          }
        }
        .area-number {
          width: 42px;
          height: 42px;
          margin: auto;
          display: flex;
          list-style: none;
          background: none;
          background: $white;
          transform: rotate(45deg);
          &:focus {
            outline: none;
          }
          .number {
            margin: auto;
            font-size: 18px;
            font-weight: 200;
            display: inline-block;
            transform: rotate(-45deg);
          }
        }
      }

      .liked-view {
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        margin-left: 30px;
        text-align: center;
        background: $white;
        position: absolute;
        align-items: flex-end;
        transform: translateX(100%);
        padding: 100px 100px 316px 100px;
        transition: transform 1s cubic-bezier(0.78,-0.09, 0.11, 1.03), margin 1s cubic-bezier(0.78,-0.09, 0.11, 1.03);
        &.active {
          margin-left: 0;
          transform: translateX(0);
        }
        // cutout
        &::before {
          bottom: 0;
          left: -30px;
          content: '';
          height: 35%;
          position: absolute;
          border-right: 30px solid $white;
          border-top: 30px solid transparent;
        }
        &::after {
          top: 0;
          left: -30px;
          content: '';
          height: 65%;
          position: absolute;
          border-right: 30px solid $white;
          border-bottom: 30px solid transparent;
        }
  
        .liked-view-wrap {
          text-align: center;
          > .icon-heart {
            width: 60px;
            height: 54px;
            margin: 0 auto 30px;
            display: inline-block;
          }
        }

        h3 {
          font-size: 72px;
          margin: 0 0 .5em;
          font-weight: 200;
          line-height: .916666667em;
        }

        p {
          font-size: 30px;
          font-weight: 200;
          line-height: 1.2em;
        }

        .close-like {
          width: 94px;
          height: 94px;
          display: flex;
          background: none;
          transform: rotate(45deg);
          margin: $padding auto 16px;
          &:focus {
            outline: none;
          }
          .icon {
            width: 47px;
            height: 27px;
            margin: auto;
            transform: rotate(-45deg);
          }
        }

        .likes {
          p {
            font-size: 36px;
            font-weight: 200;
          }
        }
      }
    }
  }


  // When no photo is selected
  .no-photo {
    .post {
      .post-image {
        background: none;
        &::before {
          opacity: 0;
        }
        img {
          left: 0;
          top: 50%;
          height: 85%;
          position: absolute;
          mix-blend-mode: normal;
          transform: translate(0, -50%); 
        }
      }
    }
  }

}