// Monitor HQ
#monitor-hq {
  margin: 20px;
  a {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
  }
  #log {
  	overflow: scroll;
  	width: 100%;
  	height: 400px;
  	background: #eee;
  	padding: 10px;
  }
}
